body {
    color: white;
    font-family: sans-serif;
    margin: 0;
    height: 100%;
    background: repeating-linear-gradient(-6deg, #222, #333, #222 60px);
}

.sponsorBtn {
    background: #da0000;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
    cursor:pointer;
}

.involveBtn {
    background: #da0000;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
    cursor:pointer;
}

div[data-page] {
    background: grey;
    margin: 20px;
}


div[data-page]>div {
    padding: 20px;
    min-height: 100%;
}






@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: Asap, sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


@media screen and (min-width:801px){
    .container{
        display:grid;
            
        grid-template-columns: 13% 37% 37% 13%;
        grid-template-rows: 50px 300px 10% 25% 25% 25%;

        grid-template-areas:"header header header header" 
                            "title title title title" 
                            ". title1 title1 . "
                            ". title2 title2 . "
                            ". gallery gallery . "
                            ". imExpand imExpand .";
    }
}




/* TITLE */

.title > h1{

    font-family: the_led_display_stregular;
    font-weight: 100;
    font-size: 100px;
    letter-spacing: 20px;




    position:absolute;
    top: 0;     
    background: rgba(0, 0, 0, 0.5); 
    width: 100%; 
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  
    color: white;
}

.title{
    grid-area:title;
    position:relative;
    text-align: center;    
}

.title > img{
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}



/* INTRO */
#intro{

    grid-area: intro;
    text-align: center;
    margin:120px 0 0 0;
    padding:40px;
    font-size: larger;
}


#title1{
    grid-area: title1;
    margin: 20px  0 0 0;
    padding:  40px 40px 0 40px;


}

#title2{
    grid-area: title2;
    margin: 20px  0 0 0;
    padding:  40px;
}



#gallery{
    grid-area:gallery;
}


/* The grid: Four equal columns that floats next to each other */
.column {
    object-fit: cover;
    display: inline-block;
    padding: 10px;
}
  
/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 210px;
    height:210px;
    object-fit: cover;
}
  
.column img:hover {
    opacity: 1;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  

#imExpand{
    grid-area:imExpand;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.imExpand {
    position: relative;
    display: none;
}
  
  /* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}
  
  /* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(139, 135, 135);
    font-size: 35px;
    cursor: pointer;
} 




/* FOOTER */
#footer{
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer .selected{
    font-weight:bold;
} 

#footer ul {
    list-style-type: none;
    margin: 90px 0px 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#footer li a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
#footer li a:hover {
    background-color: #111111;
}

#footer li b {
    float:right;
    display: block;
    color: white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
}

