@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


body{
    font-family: Lato;
    background:black;
}


/* HEADER */
#header{
    grid-area:header;
    display:flex;
    padding:8px 0px 0px 0px;
    background-color: black;
    flex-direction: row;
    position: relative;
    width:100%;
    top: 0px;
    background: black;
    z-index: 100;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    margin:auto;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 100;
}

/* The container <div> - needed to position the dropdown content */
.homepage {
    /* margin: 5px; */
    float:left;
    padding:20px 10px 20px 10px;
    position: relative;
    display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin:auto 5px auto 5px;
    float:left;
    position: relative;
    display: inline-block;
}

.dropbtn a{
    color: white;
    text-decoration: none;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #da0000;
}

.header_link{
    margin:auto 20px auto 20px;
}

/* For the Red link buttones */
#header button.cta{
    margin:0;
    cursor: pointer;
    float:right;
    background: #da0000;
    color: white;
    border: none;
    border-radius: 0.5em;
    padding: 10px;
    font-size: 1em;
    margin: 10px;
    cursor:pointer;
}


@media screen and (min-width:801px){
    .container{
        display:grid;
            
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 10% 40% 40% 10%;

        grid-template-areas:". . title .  . " 
                            "L L title R R" 
                            "L L title R R"
                            ". . title . . ";
    }
}

/* TITLE */

.title > h1{
    font-family: the_led_display_stregular;
    font-weight: 100;
    font-size: 68px;
    letter-spacing: 20px;
    /* position:relative; */
    justify-content: center;
    color: white;
}

.title{
    grid-area:title;
    position:relative;
    text-align: center; 
    border: 100px, 100px;  
}

.title > img{
    /* overflow: hidden; */
    /* width: 100%; */
    max-height: 240px;
    /* object-fit: cover; */
}


/*   IMAGES   */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 270px;
}
.image-box img {
    max-width: 100%;
    max-height: 180px;
    transition: all 1.0s;
    filter: brightness(80%);
    display: block;
    height: auto;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.5);
}

.image-box .btn_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 12px 24px;
    cursor: pointer;
}

#right{
    grid-area: R;
}

#left{
    grid-area: L;
}









/* FOOTER */
#footer{
    font-family: Lato;
}

#footer .selected{
    font-weight:bold;
} 

#footer ul {
    list-style-type: none;
    margin: 0px 0px;
    /* padding: 0; */
    overflow: hidden;
    background-color: #333333;
}

#footer li a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
#footer li a:hover {
    background-color: #111111;
}

#footer li b {
    float:right;
    display: block;
    color: white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
}




